In [2]:
!pip install pandas

Requirement already satisfied: pandas in d:\neha\venv\lib\site-packages (2.3.0)
Requirement already satisfied: numpy>=1.26.0 in d:\neha\venv\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\neha\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\neha\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in d:\neha\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in d:\neha\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("Book1.csv")

In [5]:
df.head()

    Age  clg_id  marks  sub_id
0  28.0  6774.0   53.0     6.0
1  25.0  2591.0   79.0     6.0
2  27.0  1849.0   73.0     9.0
3  21.0  6138.0   97.0     3.0
4  23.0  9052.0   84.0    11.0

In [6]:
df.describe()

             Age       clg_id      marks     sub_id
count  45.000000    48.000000  48.000000  43.000000
mean   24.644444  5814.291667  71.645833   6.976744
std     2.789229  2485.549667  17.804481   3.979043
min    20.000000  1154.000000  34.000000   0.000000
25%    23.000000  4186.750000  61.250000   4.000000
50%    25.000000  6022.000000  73.000000   7.000000
75%    27.000000  7915.750000  84.250000  10.500000
max    30.000000  9839.000000  99.000000  12.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     45 non-null     float64
 1   clg_id  48 non-null     float64
 2   marks   48 non-null     float64
 3   sub_id  43 non-null     float64
dtypes: float64(4)
memory usage: 1.7 KB

In [8]:
df.isnull().sum()

Age       4
clg_id    1
marks     1
sub_id    6
dtype: int64

In [9]:
df.columns

Index(['Age', 'clg_id', 'marks', 'sub_id'], dtype='object')

In [10]:
df=df.drop("sub_id",axis=1)

In [11]:
df.isnull().sum()

Age       4
clg_id    1
marks     1
dtype: int64

In [12]:
df["Age"]=df["Age"].fillna(df["Age"].mean())

In [13]:
df.duplicated().sum()

np.int64(0)

In [14]:
df.drop_duplicates(inplace=True)

In [15]:
df.rename(columns={"Age":"Number"},inplace=True)
df.head()

   Number  clg_id  marks
0    28.0  6774.0   53.0
1    25.0  2591.0   79.0
2    27.0  1849.0   73.0
3    21.0  6138.0   97.0
4    23.0  9052.0   84.0

In [22]:
df.head(40)

       Number  clg_id  marks
0   28.000000  6774.0   53.0
1   25.000000  2591.0   79.0
2   27.000000  1849.0   73.0
3   21.000000  6138.0   97.0
4   23.000000  9052.0   84.0
5   21.000000  6597.0   80.0
6   25.000000  9827.0   40.0
7   26.000000  8143.0   82.0
8   24.000000  4141.0   83.0
9   30.000000  3579.0   69.0
10  27.000000  8072.0   65.0
11  21.000000  4436.0   85.0
12  28.000000  9239.0   84.0
13  24.644444  8062.0   73.0
14  26.000000  7237.0   65.0
15  26.000000  8648.0   58.0
16  23.000000  7868.0   75.0
17  24.000000  4545.0   91.0
18  23.000000     NaN   58.0
19  22.000000  2965.0   90.0
20  27.000000  9051.0   62.0
21  23.000000  5047.0   34.0
22  24.644444  6371.0   99.0
23  20.000000  9839.0   85.0
24  26.000000  6058.0   95.0
25  24.644444  5201.0   44.0
26  25.000000  5986.0   94.0
27  24.000000  9158.0   73.0
28  23.000000  7560.0   92.0
29  21.000000  8059.0   87.0
30  20.000000  5747.0   80.0
31  28.000000  2512.0   96.0
32  25.000000  1374.0   72.0
33  21.000000  1670.0   56.0
34  27.000000  4720.0   40.0
35  27.000000  2815.0   62.0
36  28.000000  3716.0   96.0
37  27.000000  5420.0   41.0
38  30.000000  8846.0   70.0
39  28.000000  7057.0   80.0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Number  49 non-null     float64
 1   clg_id  48 non-null     float64
 2   marks   48 non-null     float64
dtypes: float64(3)
memory usage: 1.3 KB

In [18]:
df.describe()

          Number       clg_id      marks
count  49.000000    48.000000  48.000000
mean   24.644444  5814.291667  71.645833
std     2.670483  2485.549667  17.804481
min    20.000000  1154.000000  34.000000
25%    23.000000  4186.750000  61.250000
50%    25.000000  6022.000000  73.000000
75%    27.000000  7915.750000  84.250000
max    30.000000  9839.000000  99.000000

In [19]:
df.isnull().sum()

Number    0
clg_id    1
marks     1
dtype: int64

In [20]:
df = df.drop("sub_id",axis=1)

KeyError: "['sub_id'] not found in axis"

In [ ]:
df.isnull().sum()

Age       4
clg_id    1
marks     1
dtype: int64

In [ ]:
df["Age"]=df["Age"].fillna(df["Age"].mean())

In [ ]:
df.isnull().sum()

Age       0
clg_id    1
marks     1
dtype: int64

In [ ]:
df["clg_id"]=df["clg_id"].dropna

In [ ]:
df.isnull().sum()

Age       0
clg_id    0
marks     1
dtype: int64